
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "PT Sans Narrow", "Open Sans";
    height:100vh;
}

h1{
    font-family: "Caveat", "Open Sans";
    font-size: 5rem;
    margin-bottom: 20px;
}
#upper {
    height: 20vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.button{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    width: 100%; 
    padding: 10px 10px; 
    background-color: black;
}



h2 {
  white-space: nowrap;
  text-align: center;
  font-size: 4rem;
  width:100%;
  margin-bottom: 30px;
}

#lower{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    transform: translate(0, -60px);
    
}
#weapons{
    display: flex;
    justify-content: center;
    gap:2rem;
    align-items: center;
    margin-bottom: 60px;
  
    
}
#scissor, #paper, #rock{
    margin-right: 40px;
    font-size:5rem;
    display: flex;
    flex-direction: column;
    cursor:pointer;
    color:black;
    transition: transform 0.2s ease, color 0.2s ease;

}
#scissor p, #paper p, #rock p{
    font-size: 3rem;
    margin-top: 10px;
    font-family: Cursive;
}
#scissor:hover, #paper:hover, #rock:hover{
    transform: scale(1.2);
    color:red;

}
#winningText{
    display:none;
    text-align: center;
    font-size: 3rem;
    transform: translate(0, 100px);
    
}

#results{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    transform: translate(0, -20px);
    font-size: 1.2rem;
  
}
#win, #lose{
    margin-right: 20px;
}

#again{
    border:none;
    background-color: white;
    font-size:1.5rem;
    margin: 0 auto;
    display:none;
    transform: translate(0, 120px);
    color:red;
  
}
#comparison{
    display:flex;
    justify-content: space-around;
}
#hands{
    display:flex;
    justify-content: space-around;
}
.fist{
    font-size: 5rem;

}
#playerHand{
    transform: rotate(90deg);
    
}
#compHand{
    transform: rotate(-90deg);
    
}
#lower2{
    display:none;
    flex-direction: column;
    transform: translate(0, 60px);


}
@keyframes shake {
    0%{
    transform: translate(0,0);
    }
    25%{
    transform: translate(0,20px);
    }
    50%{
    transform: translate(0,0);
    }
    75%{
        transform: translate(0, 20px);
    }
    
}
.shaking{
    animation-name: shake;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@media (max-width: 700px) {
    #rock, #paper, #scissor {
        font-size: 2rem;
    }
    
    #hands {
        width: 90%;
    }
}